@import url("components/button.css");

body {
font-family: 'Average Sans', sans-serif;
font-size: 18px; 
}

h1, h2, h3 { 
font-family: 'Capriola', sans-serif;
font-weight: bold;
}

a { 
	text-decoration: none;

}

